*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
}




@keyframes mymove {
   0% {transform:scale(1);} 
   50%{transform:scale(1.5);}
   /*   80%{transform:rotate(180deg); transition-delay: 1s;}
   90%{transform:rotate(270deg); transition-delay: 1s;}
    100%{transform:rotate(360deg); transition-delay: 1s;}*/
  }


  @keyframes titulos {
    0% {transform:scale(1);} 
    50%{transform:scale(1.5);}
    /*   80%{transform:rotate(180deg); transition-delay: 1s;}
    90%{transform:rotate(270deg); transition-delay: 1s;}
     100%{transform:rotate(360deg); transition-delay: 1s;}*/
   }
/*=================================================================
                            ETIQUETAS
====================================================================*/

body{
    
    background: url("../img/fondo2.jpg");
    background-repeat: no-repeat;  
    background-size: cover;
    font-family:'Asap';
    text-transform: uppercase;
    z-index: 1;
    
}

a{
    display:inline-block;
    text-decoration: none;
    color:#000;
    
}

section{
    position: relative;
}

footer{
    color:#f2f2f2;
}


/*======================================================================
                                 CLASES
=====================================================================*/

.borde-abajo{
    border: 1px solid #f2f2f2;

}

.fondo-negro{
    background-color: #678B5F;
}

.separar{
    margin-bottom: 10px;
    padding: 17.5px;
    color:#f2f2f2;
    
}


.sin-pading{
    padding-right: 0;
    padding-left: 0;
   
}

.pading{
    padding-right:15px;
    padding-left: 15px;
}

.resta-padding{
    margin: 0 -15px 0 -15px;
}




.contenedor-cuadrado img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /*solo videos e imagenes*/
    object-fit: cover;
    object-position: center;
    
}

.contenedor{
    width:1170px;
    padding:0 15px 0 15px;
    /*CENTRAMOS EL CONTENEDOR*/
    margin:0 auto;
}

.columna{
    padding-left: 15px;
    padding-right: 15px;
    align-content:center;
   

}

.columna-100{
    width: 100%;
}

.columna-50{
    width: 50%;
    padding-left: 0;
    padding-right: 0;
   
}



.columna-33{
    width: 33.3%;
}

.columna-25{
    width: 25%;
}


.banner-home{
    width:100%;
    height: auto;
    /*arreglamos el alineado si colocamos imagen abajo*/
    display: block;
}

.cabecera{
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
}

.cabecera .contenedor{
    display: flex;
    align-items: center;
    justify-content:space-between;
}


.cabecera .logo{
    width:80px;
    height:80px;
    vertical-align:middle;
    border:1px solid #f2f2f2;
    border-radius:100%;
}

.cabecera .menu a{
    padding:10px;
    vertical-align:middle;
    color:#f2f2f2;
    font-size:13px;
    text-transform: uppercase;
    letter-spacing:2px;
    font-weight: bold;
    
    
}


.lupa{
    width:40px;
    height:40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    font-size:30px;
    border-radius: 100% ;
}

.blanco{
    width:40px;
    height:40px;
    color:#f2f2f2;
    border-color: #f2f2f2;
    font-size: 13px;
    border:1px solid #f2f2f2
}

/*

.margen-arriba{
    margin-bottom:20px;
}
*/

.orden{
    order:2;
}


.cabecera .ham{
    color:#f2f2f2;
    font-size:40px;
    display: none;
}

.contenedor-cuadrado{
    width:100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
   /* filter:grayscale(100%);
    cursor:pointer;*/
    
    
}




.contenedor-cuadrado.nogray{
    filter:grayscale(0);
    padding-bottom: 56.25%
}

.contenido-cuadrado{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top:-100%;
    color:#f2f2f2;
   
}

.titulos{
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size:40px;
}


.contenedor-carta{
    width: 100%;
}


.contenedor-full{
    width: 100%;
    padding: 0 30px;
}

.centrar-texto{
    text-align: center;
    border-bottom: 1px solid #d2d2d2;

}

.fila{
    display:flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}


.importante{
    font-style: italic;
}

.justificar-texto{
    text-align: justify;
}

.inclinar-texto{
    font-family: italic;
    font-size:20px;
    font-weight:bold;
}


.seccion{
    padding-top: 0px;
    padding-bottom: 0px;
}


.cabecera .menu a:hover{
    color:#003E1F;
    background-color:#f2f2f2;
    position:relative;
    animation-name: mymove;
    animation-timing-function: ease;
    animation-duration: 3s;

}

.boton{
    font-size: 15px;
    padding:10px 30px;
    text-decoration: none;
    text-align: center;
    border:1px solid #003E1F;
    border-radius: 15%;
    text-transform: uppercase;
    color:#678B5F;
    background-color:#D0E562;
}

.boton.boton-carta{
    
    border:1px solid #678B5F;
   
    
}

.fila.fila-centrada{
    justify-content:center;
}


.titulos-serv{
    margin-top: 0;
    text-align: center;
    font-size:40px;
}

.margen-lados {
    margin-left: 15px;
    margin-right: 15px;
}
/*====================================================================
                         ID
======================================================================*/
 
#lacarta{
    color: #f2f2f2;
    
    
    
}





#banner .contenedor{
    /*A las secciones le damos posicion relativa*/
    margin:0;
    position:absolute;
    top:35%;
    left:30%;
    right: 40%;
}

#banner .contenedor h1{
    border-bottom:1px solid #697E59;
    color: #f2f2f2;
    font-size:30px;
}

#banner{
    background:transparent;
   
}

#banner .banner-home{
    opacity: 0.8;
}


#banner p{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing:1px;
    line-height: 2;
    color:#f2f2f2;
}


#locales p{
    margin-bottom:20px;
}

#locales{
      color:#f2f2f2;
}

/*
#locales .fila img{
    transform: scaleY(-1);
}
*/


#locales  ul{

    list-style-type:none;
    padding-left: 0;
    list-style-image: url("../img/lista2.png");
    line-height:1;
    columns: 3;
    width: 100%;
    position: relative;
    left: 20%;
    margin-bottom: 20px;
   
   
    
   
    
}


#lacarta .scale{
    position: relative;
    transform: scale(1);
}

#servicios h2{
    position: relative;
    transform: scale(1);
    margin-top:0;
    display: block;
}



#locales h2{
    position: relative;
    transform: scale(1);
}

#locales li a{
    text-align: center;
    color:#f2f2f2;
    font-family: 'Asap';
    
}

#servicios{
    color:#f2f2f2;
}



#servicios h3{
    text-align: center;
   
}

#servicios .contenedor-servicio{
    background-color: #003E1F;
    position:relative;
    text-align: center;
    background: transparent;
    padding:30px;
    color: #f2f2f2;
    /*mismo alto a todos los cont*/
    height:100%;
    border-radius: 5%;
}




#servicios p:hover{
    position:relative;
    animation-name: mymove;
    animation-timing-function: linear;
    animation-duration: 3s;
}

#servicios i{
    font-size:45px;
}

#servicios a{
    color:#f2f2f2;
}


#testimonios{
   position: relative;
   color:#f2f2f2;
}

#testimonios .contenedor{
    position: relative;
    z-index: index 4; ;
}

.video-fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
    opacity: 0.5;
    
}


#testimonios p{
    position: relative;
    z-index: 2;
    
}

#testimonios video:hover{
    filter: grayscale(1);

}

.trama-video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, transparent, rgba(226 90 90 / 20%));
    z-index: 3;

}

#testimonios h2{
    position: relative;
    z-index: 2;
}




@media (max-width:768px),(orientation: Landscape){
    body h2{
        color:#f2f2f2;
    }

    body p{
        font-size:15px;
    }

    .titulos{
        font-size:20px;
    }

   

   
    .contenedor{
        width: 100%;
    }
    .contenedor-full{
        width: 100%;
        padding: 0 30px;
    }
    .columna-mobile-100{
        width: 100%;
    }

    .columna-mobile-50{
        width: 50%;
    }
    .columna-mobile-41{
        width:41.66%;
    }

    .columna-mobile-33{
        width: 33.3%
    }

    .columna-mobile-25{
        width: 25%;
    }

    .columna-mobile-16{
        width: 16.66%
    }
    
    .columna-mobile-8{
        width:8.33%;
    }

    header  .contenedor nav{
        display: none;
    }

    .cabecera .ham{
        display: block;
    }

    .margen-abajo-mobile{
        margin-bottom: 5px;
    }

    #locales p{
        color:#f2f2f2;
        font-size:15px;
    }

    #servicios .separar{
        color:#f2f2f2;
        
    }

    #servicios .fab{
        color:#f2f2f2;
    }

    #servicios h2{
        transform: scale(1);

    
    }

    

    #locales h2{
        transform: scale(1);
       
       
    }

    .margen-lados{
        margin-left: 15px;
        margin-right: 15px;
    }



    #lacarta .titulos{
        transform: scale(1);
        
    }
    .margen-abajo-mobile{
        margin-bottom:10px;
    }
    #servicios p:hover{
        position:relative;
        animation-name: mymove;
        animation-timing-function: linear;
        animation-duration: 3s;
    }

    .separar{
        font-size:15px;
    }
    
    #banner p{
        font-size:13px;
    }

    #banner h1{
        font-size:14px;

    }

    .boton{
        font-size: 15px;
        padding:5px 10px;
        text-decoration: none;
        text-align: center;
        border:1px solid #003E1F;
        border-radius: 15%;
        text-transform: uppercase;
        color:#678B5F;
        background-color:#D0E562;
    }

    
}


@media (max-width:767px),(orientation: Landscape){
    body h2{
        color:#f2f2f2;
    }

    body p{
        font-size:15px;
    }

    .titulos{
        font-size:20px;
    }

   

   
    .contenedor{
        width: 100%;
    }
    .contenedor-full{
        width: 100%;
        padding: 0 30px;
    }
    .columna-mobile-100{
        width: 100%;
    }

    .columna-mobile-50{
        width: 50%;
    }
    .columna-mobile-41{
        width:41.66%;
    }

    .columna-mobile-33{
        width: 33.3%
    }

    .columna-mobile-25{
        width: 25%;
    }

    .columna-mobile-16{
        width: 16.66%
    }
    
    .columna-mobile-8{
        width:8.33%;
    }

    header  .contenedor nav{
        display: none;
    }

    .cabecera .ham{
        display: block;
    }

    .margen-abajo-mobile{
        margin-bottom: 5px;
    }

    #locales p{
        color:#f2f2f2;
        font-size:15px;
    }

    #servicios .separar{
        color:#f2f2f2;
        
    }

    #servicios .fab{
        color:#f2f2f2;
    }

    #servicios h2{
        transform: scale(1);

    
    }

    

    #locales h2{
        transform: scale(1);
       
       
    }

    .margen-lados{
        margin-left: 15px;
        margin-right: 15px;
    }



    #lacarta .titulos{
        transform: scale(1);
        
    }
    
    .margen-abajo-mobile{
        margin-bottom:10px;
    }
    #servicios p:hover{
        position:relative;
        animation-name: mymove;
        animation-timing-function: linear;
        animation-duration: 3s;
    }

    .separar{
        font-size:15px;
    }
    
    #banner p{
        font-size:13px;
    }

    #banner h1{
        font-size:14px;

    }

    .boton{
        font-size: 15px;
        padding:5px 10px;
        text-decoration: none;
        text-align: center;
        border:1px solid #003E1F;
        border-radius: 15%;
        text-transform: uppercase;
        color:#678B5F;
        background-color:#D0E562;
    }

    
}

@media (max-width:600px){
    #banner .fila{
        display: none;
    }

}



@media (max-width:1199px), (orientation: Landscape){
    body h2{
        color:#f2f2f2;
    }

    body p{
        font-size:15px;
    }

    .titulos{
        font-size:20px;
    }

   

   
    .contenedor{
        width: 100%;
    }
    .contenedor-full{
        width: 100%;
        padding: 0 30px;
    }
    .columna-mobile-100{
        width: 100%;
    }

    .columna-mobile-50{
        width: 50%;
    }
    .columna-mobile-41{
        width:41.66%;
    }

    .columna-mobile-33{
        width: 33.3%
    }

    .columna-mobile-25{
        width: 25%;
    }

    .columna-mobile-16{
        width: 16.66%
    }
    
    .columna-mobile-8{
        width:8.33%;
    }

    header  .contenedor nav{
        display: none;
    }
    

    .cabecera .ham{
        display: inline-block;
    }

    .margen-abajo-mobile{
        margin-bottom: 5px;
    }

    #locales p{
        color:#f2f2f2;
        font-size:15px;
    }

    #servicios .separar{
        color:#f2f2f2;
        
    }

    #servicios .fab{
        color:#f2f2f2;
    }

    #servicios h2{
        transform: scale(1);

    
    }

    

    #locales h2{
        transform: scale(1);
       
       
    }

    .margen-lados{
        margin-left: 15px;
        margin-right: 15px;
    }



    #lacarta .titulos{
        transform: scale(1);
        
    }

    
    .margen-abajo-mobile{
        margin-bottom:10px;
    }
    #servicios p:hover{
        position:relative;
        animation-name: mymove;
        animation-timing-function: linear;
        animation-duration: 3s;
    }

    .separar{
        font-size:15px;
    }
    
    #banner p{
        font-size:13px;
    }

    #banner h1{
        font-size:14px;

    }

    .boton{
        font-size: 15px;
        padding:5px 10px;
        text-decoration: none;
        text-align: center;
        border:1px solid #003E1F;
        border-radius: 15%;
        text-transform: uppercase;
        color:#678B5F;
        background-color:#D0E562;
    }

    
}



@media (max-width:992px),(orientation: Landscape){
    body h2{
        color:#f2f2f2;
    }

    body p{
        font-size:15px;
    }

    .titulos{
        font-size:20px;
    }
    .contenedor-full{
        width: 100%;
        padding: 0 30px;
    }
   
    .contenedor{
        width: 100%;
    }
    .columna-mobile-100{
        width: 100%;
    }

    .pading-mobile{
        padding-right:15px;
        padding-left: 15px;
    }

    .columna-mobile-50{
        width: 50%;
    }
    .columna-mobile-41{
        width:41.66%;
    }

    .columna-mobile-33{
        width: 33.3%
    }

    .columna-mobile-25{
        width: 25%;
    }

    .columna-mobile-16{
        width: 16.66%
    }
    
    .columna-mobile-8{
        width:8.33%;
    }

    header  .contenedor nav{
        display: none;
    }

    .cabecera .ham{
        display: block;
    }

    .margen-abajo-mobile{
        margin-bottom: 5px;
    }

    #locales p{
        color:#f2f2f2;
        font-size:15px;
    }

    #servicios .separar{
        color:#f2f2f2;
        
    }

    #servicios .fab{
        color:#f2f2f2;
    }

    #servicios h2{
        transform: scale(1);

    
    }

    

    #locales h2{
        transform: scale(1);
       
       
    }


    #lacarta .titulos{
        transform: scale(1);
        
    }
  
    

    
    .margen-abajo-mobile{
        margin-bottom:10px;
    }
    #servicios p:hover{
        position:relative;
        animation-name: mymove;
        animation-timing-function: linear;
        animation-duration: 3s;
    }

    .separar{
        font-size:15px;
    }
    
    #banner p{
        font-size:13px;
    }

    #banner h1{
        font-size:14px;

    }

    .boton{
        font-size: 15px;
        padding:5px 10px;
        text-decoration: none;
        text-align: center;
        border:1px solid #003E1F;
        border-radius: 15%;
        text-transform: uppercase;
        color:#678B5F;
        background-color:#D0E562;
    }


    
}


